
<div class=" container shadow-lg p-3 mb-5 bg-white rounded buttons is-right" *ngFor="let inte of intens">
        <h2 >
          {{ inte.nombre }} 

          <h3 >{{media| number:'1.0-2'}}<i class="bi bi-star-fill"></i></h3>
      </h2>
     <br>
      {{ inte.descripcion }}

    
    
      <div class=" shadow-lg p-3 mb-5 bg-white rounded " *ngFor="let inte of intens">
        <h2>Asignaturas</h2>
        <table class="centered-content">
          <div *ngFor="let asig of asigs">
            <button style="margin: 3px; width: 100%;"class="btn btn-info" [routerLink]="['/lista-intensificaciones/intensificacion', inte._id, 'asignaturas', asig._id]">
            {{asig.nombre}}
            </button>
          </div>
        </table>
      
    </div>
    
  
      <h2 >Comentarios</h2>
      <div class="col shadow-lg p-3 mb-5 bg-white rounded" style="overflow-y: scroll; height:400px">
        <div class="col shadow-lg p-3 mb-5 bg-white rounded"id="coments" *ngFor="let valoracion of valoraciones" >
          <h3 class="">
            {{valoracion.lastModified}}
          {{valoracion.comentario}}
          
          </h3>
             
          <ngb-rating [rate]="valoracion.puntuacion"></ngb-rating>
         
         
          <h4 style="font-style: italic;">
          Fecha: {{valoracion.fechaCreacion | date: 'dd-MM-yyyy'}}</h4>
        
        
          <button class="btn btn-danger" *ngIf="valoracion.userId == usuarioLogged " style="margin: 5px;" (click)="borrarComentario(inte._id, valoracion._id)" max="5"><i class="bi bi-trash"></i></button>
          <button class="btn btn-success" *ngIf="valoracion.userId == usuarioLogged " style="margin: 5px;" [routerLink]="['/lista-intensificaciones/intensificacion', inte._id, 'editar-opinion', valoracion._id]" max="5"><i class="bi bi-pencil"></i></button>


        <button class="btn btn-primary" style="margin: 5px;"  max="5">{{valoracion.like}}<i class="bi bi-hand-thumbs-up"></i></button> 
          
        

</div>
          
        
      </div>
      <br>
      <div class=" buttons is-right">
        <button  type="button" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 10px;" [routerLink]="['/lista-intensificaciones']"><i class="bi bi-arrow-return-left"></i> Volver</button>
        <button  class="btn btn-primary" style="margin-bottom: 10px;" [routerLink]="['/lista-intensificaciones/intensificacion', inte._id, 'nueva-opinion']"><i class="bi bi-chat-square-text"></i> Escribe tu opinión</button>

      </div>
      
    </div>
  <router-outlet></router-outlet>