@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');
@import "bulma/sass/utilities/_all.sass";  
h1 {
    margin-bottom: 0;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  nav a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #c75a5a;
    color: #ffffff;
    border-radius: 4px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  
  nav a:hover {
    color: #c75a5a;
    background-color: #ffffff;
  }
  nav a.active {
    background-color: rgb(230, 56, 56);
  }

  .centered-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }