<h1 style="margin-left: 10%;font-size:x-large ;">
   ASIGNATURAS OPTATIVAS
  </h1>
  <br>
      <div style="margin-left: 10%;">
        <div class="" style="width: 18rem;">
            <div class="body">
              
              <button  class="btn btn-light " href="#"  routerLink="/optativa">Visión Artificial y Reconocimiento de Patrones</button>
            </div>
          </div>
      
          <br>
          <div class=" " style="width: 18rem; ">
            <div class="body">
              <a  class="btn btn-light" href="#"   routerLink="/optativa">Criptografia</a>
            </div>
          </div>
          <br>
        
          <div class=" " style="width: 18rem;">
            <div class="body">
              <a class="btn btn-light" href="#"  routerLink="/optativa">Robótica Autónoma</a>
            </div>
          </div>
      
          <br>
          <div class="" style="width: 18rem;">
            <div class="body">
              <a class="btn btn-light" href="#"  routerLink="/optativa">Auditoría en Sistemas de Información</a>
            </div>
          </div>
      
          <br>
          <div class="" style="width: 18rem;">
            <div class="body">
              <a class="btn btn-light" href="#"  routerLink="/optativa">Ingeniería Web y de Servicios</a>
            </div>
          </div>
        
  
        <br>
          <div class="" style="width: 18rem;">
            <div class="body">
              <a class="btn btn-light" href="#"  routerLink="/optativa">Dispositivos y Redes Inalámbricos</a>
            </div>
          </div>
        
  
        <br>
          <div class="" style="width: 18rem;">
            <div class="body">
              <a class="btn btn-light" href="#"  routerLink="/optativa">Aceleradores Gráficos</a>
            </div>
          </div>
        
  
  
        <br>
          <div class="" style="width: 18rem;">
            <div class="body">
              <a class="btn btn-light" href="#"  routerLink="/optativa">Diseño Gráfico y Animación</a>
            </div>
          </div>
        
  
        <br>
          <div class="" style="width: 18rem;">
            <div class="body">
              <a class="btn btn-light" href="#"  routerLink="/optativa">Inteligencia Artificial en Videojuegos</a>
            </div>
          </div>
       
  
        <br>
          <div class="" style="width: 18rem;">
            <div class="body">
              <a class="btn btn-light" href="#"  routerLink="/optativa">Videojuegos y Realidad Virtual</a>
            </div>
          </div>
        
        
    
  
  
        </div>
    <br>
    <br><br><br><br>