<h1  class="centered-content" >
   Asignaturas Optativas
  </h1>
  <br>

        <div class="centered-content"  *ngFor="let opta of optativas; let i = index">
            <div *ngIf="i % 5 == 0" class="row body">
              <button style="width: 150px; height: 100px; margin: 10px;" class="btn btn-light" href="#"  routerLink="/optativa" >{{opta}}</button> 
              <button style="width: 150px; height: 100px; margin: 10px;" class="btn btn-light" href="#"  routerLink="/optativa" *ngIf="i + 1 < optativas.length">{{optativas[i + 1]}}</button> 
              <button style="width: 150px; height: 100px; margin: 10px;" class="btn btn-light" href="#"  routerLink="/optativa" *ngIf="i + 2 < optativas.length">{{optativas[i + 2]}}</button> 
              <button style="width: 150px; height: 100px; margin: 10px;" class="btn btn-light" href="#"  routerLink="/optativa" *ngIf="i + 3 < optativas.length">{{optativas[i + 3]}}</button> 
              <button style="width: 150px; height: 100px; margin: 10px;" class="btn btn-light" href="#"  routerLink="/optativa" *ngIf="i + 4 < optativas.length">{{optativas[i + 4]}}</button> 
            </div>
          </div>

    