<br><br><br><br>
<router-outlet></router-outlet>
<!-- <table class="centered-content" *ngIf="flag">
    <div class="card text-center " style="width: 18rem;" *ngFor="let dire of directores" >
        <div class="card-body">
          <h5 class="card-title"> {{ dire.nombre }}</h5>
          <button class="btn btn-primary" routerLink="/director" (click)="abrirDirector(dire._id)" >Ver</button>
        </div>
    </div>
</table>
*ngIf="flag" 
<app-intensificacion #directorId ></app-intensificacion> -->



<table class="centered-content">
    <tr>
      <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Pablo Bermejo López</h5>
            
            <button  class="btn btn-primary" href="#"  routerLink="/director">Ver</button>
          </div>
        </div>
    </tr>
        <tr>
        <div class="card text-center" style="width: 18rem; ">
          <div class="card-body">
            <h5 class="card-title">Guillermo Manjabacas Tendero</h5>
            <a  class="btn btn-primary" href="#"   routerLink="/director">Ver</a>
          </div>
        </div>
      </tr>
      <tr>
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Jose Antonio Gámez Martín</h5>
            <a class="btn btn-primary" href="#"  routerLink="/director">Ver</a>
          </div>
        </div>
    </tr>
    <tr>
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Aurelio Bermúdez Marín</h5>
            <a class="btn btn-primary" href="#"  routerLink="/director">Ver</a>
          </div>
        </div>
    </tr>
    <tr>
        <div class="card text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Pascual González López</h5>
            <a class="btn btn-primary" href="#"  routerLink="/director">Ver</a>
          </div>
        </div>
      </tr>
  </table>
  <br>
  <br><br><br><br>