.container{
  display: block;
  
  }
  h2{
      font-size: xx-large;
    }
  
  
  
  .container{
      padding: 10px;
      border-radius: 6px;
      margin-top: 10px;
      margin-bottom: 10px;
    position: relative;
    }
  
    #coments{
      background-color: #ffffff;
      padding: 10px;
      border-radius: 6px;
      margin-top: 10px;
      margin-bottom: 10px;
      }
  
  