<div class=" container shadow-lg p-3 mb-5 bg-white rounded buttons is-right" style="padding: 1000px;" *ngFor="let direc of director">
  <h2 >
    {{ direc.nombre }}     <a style="color: rgb(253, 209, 11);margin-left: 10px;">{{media| number:'1.0-2'}}</a><i class="bi bi-star-fill" style="color: rgb(253, 209, 11); "></i>

    <h3 ></h3>

</h2>
<br>
<table class="centered-content">
  <div *ngFor="let eti of etiquetas">
    <div class="body">
      <button class="badge rounded-pill bg-secondary" (click)="borrarEtiqueta(eti._id)" style="font-size: larger; margin: 5px">{{eti.nombre}}</button>
    </div>
  </div>
</table>



<br>
<h2 >Comentarios</h2>
<div class="col shadow-lg p-3 mb-5 bg-white rounded" style="overflow-y: scroll; height:400px">
  <div class="col shadow-lg p-3 mb-5 bg-white rounded"id="coments" *ngFor="let valoracion of valoraciones" >
    <h3 class="">
    {{valoracion.comentario}}
    
    </h3>
       
    <ngb-rating [rate]="valoracion.puntuacion"></ngb-rating>
   
   
    <h4 style="font-style: italic;">
    Fecha: {{valoracion.fechaCreacion | date: 'dd-MM-yyyy'}}</h4>
  
  
    <button class="btn btn-danger" *ngIf="valoracion.userId == usuarioLogged " style="margin: 5px;" (click)="borrarComentario(directId, valoracion._id)" max="5"><i class="bi bi-trash"></i></button>
    <button class="btn btn-success" *ngIf="valoracion.userId == usuarioLogged " style="margin: 5px;" [routerLink]="['/lista-directores/director/', directId, 'editar-opinion', valoracion._id]" max="5"><i class="bi bi-pencil"></i></button>
    <button class="btn btn-primary" style="margin: 5px;" max="5">{{valoracion.like}}<i class="bi bi-hand-thumbs-up"></i> </button> 
    
  </div>
  
</div>
<br>


<h2 >Etiquetas</h2>
  
<div class="centered-content" *ngFor="let nombres of nombresEtiqueta; let i = index">
  <div   class="row body">
    <button   class="btn btn-light"  (click)="actualizarDirector(directId, nombres)">{{nombres}}</button> 
    </div>
</div>
    
 
  <div class=" buttons is-right">
    <button  type="button" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 10px;" [routerLink]="['/lista-directores']"><i class="bi bi-arrow-return-left"></i> Volver</button>
    <button  class="btn btn-success" style="margin-bottom: 10px;" [routerLink]="['/lista-directores/director/', directId, 'nueva-opinion']"><i class="bi bi-chat-square-text"></i> Escribe tu opinión</button>
  
  </div>
 


</div>
<router-outlet></router-outlet>