
<div class="centered-content" style="width: 50%;padding: 100px; margin-left: 400px;">
  <div class="white-box">

    <h1 class="title has-text-secondary">Log In</h1>
    
    <div class="field login">
      <p class="control has-icons-left has-icons-right">
        <input #emailInput class="input has-background-light" type="email" placeholder="Email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
  <div *ngIf="alert" class="alert alert-warning alert-dismissible fade show" role="alertEmail">
    <strong>Wrong Email!</strong> Enter a correct Email.
    <button type="button"  (click)="closeAlert()" class="btn-close" data-bs-dismiss="alertEmail" aria-label="Close"></button>
  </div>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input #pwInput class="input has-background-light" type="password" placeholder="Contraseña">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </p>
      <div *ngIf="alertPass" class="alert alert-warning alert-dismissible fade show" role="alertCon">
        <strong>Wrong Password!</strong> Enter a correct password.
        <button type="button"  (click)="closeAlertPass()" class="btn-close" data-bs-dismiss="alertCon" aria-label="Close"></button>
      </div>
    </div>
    <div class="field" style="display: flex; justify-content: flex-end;">
      <p class="control">
        
        <button class="btn btn-primary" (click)="onLoginButtonClicked(emailInput.value, pwInput.value)">
          Iniciar Sesión
        </button>
      </p>
    </div>

    <br>

    <p class="has-text-black">¿Aún no tienes una cuenta? <a routerLink="/register">Regístrate</a> ahora!</p>

  </div>

</div>

<!-- <div class="card">
  <h4 class="card-header">Login</h4>
  <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label for="username">Username</label>
              <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
          </div>
          <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Login
              </button>
              <a routerLink="../register" class="btn btn-link">Register</a>
          </div>
      </form>
  </div>
</div> -->





 


  