<!-- <div class="centered-content list-menu">
    <a class="list-menu-item button" *ngFor="let inte of intens" (click)="abrirIntensificacion(inte._id)">
        {{ inte.nombre }}
    </a>
    
    
</div> -->
<router-outlet></router-outlet>
<table class="centered-content">
    <div class="card text-center " style="width: 18rem;" *ngFor="let inte of intens" >
        <div class="card-body">
          <h5 class="card-title"> {{ inte.nombre }}</h5>
          <button class="btn btn-primary" routerLink="/intensificacion" (click)="abrirIntensificacion(inte._id)">Ver</button>
        </div>
    </div>
</table>
<!-- *ngIf="flag" -->
<app-intensificacion #intensificacionId ></app-intensificacion>



