
<ul class="nav justify-content-center p-3 mb-2 bg-light text-dark">
  <li class="nav-item">
    <a class="nav-link active font-weight-bold" href="/home">Inicio</a>
  </li>
  <li class="nav-item justify-content-end">
    <a   class=" nav-link"(click)="cerrarSesion()">Cerrar Sesión</a>
  </li>
  
</ul>





  <router-outlet></router-outlet>

<footer>
  <div class="container">
    <a class="logo-font" routerLink="/">Memoria Colectiva Esiiab</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}.
      Un proyecto de <a href="https://github.com/PablodeHaroCorredor/Memoria-colectiva-esiiab">Pablo de Haro Corredor</a>.
    </span>
  </div>
</footer>