
<ul class="nav justify-content-center p-4 mb-4 bg-light text-dark">
  <li class="nav-item">
    <a class="nav-link active font-weight-bold" href="/home">Inicio</a>
  </li>
  

  <li class="nav-item justify-content-end" style="margin-left:80%;">
    Bienvenido <h4 class= font-weight-bold> {{ nombreUsuario}} </h4>
  </li>
  <li class="nav-item justify-content-end">
    <button   class=" nav-link button"(click)="cerrarSesion()">Cerrar Sesión</button>
  </li>
  
</ul>





  <router-outlet></router-outlet>

<footer class="bg-light">
  <div class="container">
    <a class="logo-font" routerLink="/">Memoria Colectiva Esiiab</a>
    <span class="attribution">
      &copy; {{ today | date: 'yyyy' }}.
      Un proyecto de <a href="https://github.com/PablodeHaroCorredor/Memoria-colectiva-esiiab">Pablo de Haro Corredor</a>.
    </span>
  </div>
</footer>