<div *ngFor="let valo of valoraciones">
<form  class="shadow-lg p-3 mb-5 bg-white rounded" style="width: 40%; padding: 200px; margin-left: 500px;
margin-right: 500px;
margin-top: 70px;
margin-bottom: 200px;
padding:100px;">
    <div class="form-group">
        <label  class="centered-content" style="font-size: xx-large;" for="exampleFormControlInput1">Cambia tu valoración</label>
      </div>
    <div class="form-group ">
      <label style="font-size: x-large;" for="exampleFormControlInput1">Modifica aquí tu comentario</label>
      <textarea #inputComentario   class="form-control" style="width: 50%; height: 100px;" aria-label="Opina" id="floatingTextarea">{{valo.comentario}}</textarea>
    </div>
    <div class="form-group">
        <br>
      <label style="font-size: x-large;" for="exampleFormControlSelect2">Valoración general</label>
      <br>
      <ngb-rating [(rate)]="valo.puntuacion" style="font-size: xx-large;"></ngb-rating>
    </div>
    <div class="form-group buttons is-right">
        <button  type="button" class="btn btn-primary" style="margin-right: 10px;" [routerLink]="['../../']"><i class="bi bi-arrow-return-left"></i> Volver</button>
        <button *ngIf="directorId == null && inteId == null" type="button" class="btn btn-primary"  (click)="editComentarioInte(inputComentario.value, valo.puntuacion,inteId, valoracionId, dateNow)"><i class="bi bi-chat-square-text"></i> Actualizar Inten</button>
        <button *ngIf="directorId == null && inteId " type="button" class="btn btn-primary"  (click)="editComentarioAsig(inputComentario.value, valo.puntuacion,inteId, asigId, valoracionId, dateNow)"><i class="bi bi-chat-square-text"></i> Actualizar asig</button>
        <button *ngIf="directorId" type="button" class="btn btn-primary"  (click)="editComentarioDirector(directorId,valoracionId, inputComentario.value, valo.puntuacion, dateNow)"><i class="bi bi-chat-square-text"></i> Actualizar </button>
    </div>
  </form>
</div>
<router-outlet></router-outlet>
