<nav class="centered-content">
    <a  routerLink="/desarrolllodb">Desarrollo de Bases de Datos</a>
    <a routerLink="/disenosw" >Diseño de Software</a>
    <a routerLink="/ing-requisitos">Ingeniería de Requisitos</a>
    <a routerLink="/sie">Sistemas de información Empresarial</a>
    <a  routerLink="/calidadsw">Calidad de Sistemas Software</a>
    <a routerLink="/gps" >Gestión de Proyectos Software</a>
    <a routerLink="/procesos-ingsw">Procesos de Ingeniería del Software</a>
    <a routerLink="/seguridad-sistemassw">Seguridad en Sistemas Software</a>

</nav>

