
<router-outlet></router-outlet>
 <div class="container shadow-lg p-3 mb-5 bg-white rounded" *ngFor="let asig of asigs" >
  <h2 >
    {{ asig.nombre }} <a style="color: rgb(253, 209, 11);margin-left: 10px;">{{media| number:'1.0-2'}}</a><i class="bi bi-star-fill" style="color: rgb(253, 209, 11); "></i>
   
  </h2>
 <br>
 {{ asig.descripcion }}
  
  <div class="row">
    <div class="col">
      <br>
      <h2>Comentarios</h2>

    </div>
  </div>
  
  <div class="" *ngFor="let asig of asigs">
    <div class="">
      <div class=" shadow-lg p-3 mb-5 bg-white rounded" style="overflow-y: scroll; height:300px">
      <div class=" shadow-lg p-3 mb-5 bg-white rounded" id="coments" *ngFor="let valoracion of valoraciones">
        <h3 class="">
          {{valoracion.comentario}} 
        </h3>

        <ngb-rating [rate]="valoracion.puntuacion"></ngb-rating>
        
      
      <br>
      <h4 style="font-style: italic;">
        Fecha: {{valoracion.fechaCreacion | date: 'dd-MM-yyyy'}}
      </h4>
      
      <button class="btn btn-danger" *ngIf="valoracion.userId == usuarioLogged " style="margin: 5px;" (click)="borrarComentario(asig._id, valoracion._id)" max="5"><i class="bi bi-trash"></i></button>
      
      <button class="btn btn-success" *ngIf="valoracion.userId == usuarioLogged " style="margin: 5px;" [routerLink]="['/lista-intensificaciones/intensificacion', asig.inteId, 'asignaturas', asig._id, 'editar-opinion', valoracion._id]" max="5"><i class="bi bi-pencil"></i></button>

      <button class="btn btn-primary" style="margin: 5px;"  max="5">{{valoracion.like}}<i class="bi bi-hand-thumbs-up"></i></button> 
          
    </div>
  </div>
  </div>
    <br>
    <div class=" buttons is-right">
      <button  type="button" class="btn btn-primary" style="margin-right: 10px; margin-bottom: 10px;" [routerLink]="['/lista-intensificaciones/intensificacion', asig.inteId]"><i class="bi bi-arrow-return-left"></i> Volver</button>
      <button  class="btn btn-success" style="margin-bottom: 10px;" [routerLink]="['/lista-intensificaciones/intensificacion', asig.inteId, 'asignaturas', asig._id, 'nueva-opinion']"><i class="bi bi-chat-square-text"></i> Escribe tu opinión</button>

    </div>
    
        
    
    </div>
  

</div>

 
