
<router-outlet></router-outlet>
 <div class="container" *ngFor="let asig of asigs" >
  <h2 >
    {{ asig.nombre }}
  </h2>
 <br>
 {{ asig.descripcion }}
  
  <div class="row">
    <div class="col">
      <br>
      <h2>Comentarios</h2>

    </div>
  </div>
  <div class="row" *ngFor="let asig of asigs">
    <div class="col">
      <div class="col" *ngFor="let valoracion of asig.valoraciones">
      {{valoracion.comentario}}
      
      {{valoracion.puntuacion}}
      <br>
      Fecha: {{valoracion.fechaCreacion | date: 'dd-mm-yyyy'}}
      
      <button  (click)="borrarComentario(valoracion._id)" max="5"><i class="fa fa-trash" aria-hidden="true"></i></button>
      <hr>
    </div>
    <input #inputComentario class="input has-background-light is-medium" type="text" placeholder="Escribe tu comentario...">
      <input #inputPuntuacion class="input has-background-light is-medium" type="number" placeholder="">
      <button (click)="createComentario(inputComentario.value, inputPuntuacion.value, asig._id)" max="5">Enviar</button>
    </div>
  </div>
</div>

 
