/* You can add global styles to this file, and also import other style files */

     
      
      .is-outlined{
        color: black;
        
      }


      html, body{
         background-color: #6ea8fe;
          font: 400 1rem/1.625rem "Open Sans", sans-serif;
    
        }

    div[ng-div]{
      height: 100%;
    }




