


<router-outlet></router-outlet>
<h1 class="centered-content">{{title}}</h1>
<table class="centered-content">
  <tr>
    <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Intesificaciones</h5>
          
          <button  class="btn btn-primary" href="#"  routerLink="/lista-intensificaciones">Ver</button>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem; ">
        <div class="card-body">
          <h5 class="card-title">Optativas</h5>
          <a  class="btn btn-primary" href="#"   routerLink="/optativas">Ver</a>
        </div>
      </div>
    </tr>
    <tr>
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Directores</h5>
          <a class="btn btn-primary" href="#"  routerLink="/lista-directores">Ver</a>
        </div>
      </div>
      <div class="card text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">MUii</h5>
          <a class="btn btn-primary" href="#"  routerLink="/master">Ver</a>
        </div>
      </div>
    </tr>
</table>
<router-outlet></router-outlet>