<div class="centered-content">
  <form [formGroup]="signupForm">
    <div class="white-box">
  
      <h1 class="title has-text-primary">Regístrate</h1>
      <div class="field">
        <p class="control has-icons-left">
          <input #unInput class="input has-background-light" type="username" placeholder="Nombre de Usuario">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          
          <input #emailInput class="input has-background-light" type="email" placeholder="Email" formControlName="email" type="email" class="form-control"> 
          <span class="error" *ngIf="email?.invalid && email?.touched">
            Email is invalid
          </span>
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input #pwInput class="input has-background-light" type="password" placeholder="Contraseña">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field" style="display: flex; justify-content: flex-end;">
        <p class="control">
          <button class="button is-success has-text-white" (click)="onSignupButtonClicked(emailInput.value, pwInput.value, unInput.value)">
            Regístrate
          </button>
        </p>
      </div>
      <br>
  
      <p class="has-text-grey">¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión</a> ya!</p>
  
    </div>
  </form>
</div>
<!--  REGEX correos alu : @luu\.lcmm\.[a-zA-Z]+ -->


